/* Coolors Exported Palette - coolors.co/b7ad99-ff4365-030301-00d9c0-fffff3 */

/* HSL */
$color1: hsla(40%, 17%, 66%, 1);
$color2: hsla(349%, 100%, 63%, 1);
$color3: hsla(60%, 50%, 1%, 1);
$color4: hsla(173%, 100%, 43%, 1);
$color5: hsla(60%, 100%, 98%, 1);

/* RGB */
$color1: rgba(183, 173, 153, 1);
$color2: rgba(255, 67, 101, 1);
$color3: rgba(3, 3, 1, 1);
$color4: rgba(0, 217, 192, 1);
$color5: rgba(255, 255, 243, 1);